#Forms {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    z-index: 2;
    position: relative;

}
#whatToAdd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#grocerySelect {
    width: 100px;
}

#addItem {
    border: 2px solid black;
    width: 300px;
    height: 200px;
    text-align: center;
    margin-left: 0px;
    z-index: 2;
    
}
#addNewList {
    z-index: 2;
}

.List {
    border: 2px solid black;
    width: 500px;
    width: 700px;
    margin: 20px;
    z-index: 2;
    position: relative;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

body {
    display: flex;
    flex-direction: row;
    

}

#background {
    position: absolute;
    z-index: 1;
    width: 1000px;
    opacity: 0.6;
}

/* thead {

} */

.title-delete {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.deleteList {
    font-size: 30px;
    position: absolute;
    right: 5px;
    top: 15px;
}

.listItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    z-index: 2;
    font-weight: bold;
}

.itemName {
    z-index: 2;
}


